html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fc;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-top: 80px;
}

table th, table td {
  vertical-align: middle;
}

.badge {
  font-size: 0.9rem;
}

.modal-body img {
  max-height: 300px;
  object-fit: cover;
}
