<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="register-card">
        <h2>Registrar Usuario</h2>

        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" novalidate>

            <div class="mb-3">
                <label class="form-label">Nombre:</label>
                <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" required  #nombre="ngModel">
                <div class="text-danger mt-1" *ngIf="nombre.invalid && nombre.touched">
                    El nombre es obligatorio.
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Apellido:</label>
                <input type="text" [(ngModel)]="user.apellido" name="apellido" class="form-control" required #apellido="ngModel">
                <div class="text-danger mt-1" *ngIf="apellido.invalid && apellido.touched">
                    El apellido es obligatorio.
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Correo:</label>
                <input type="email" [(ngModel)]="user.correo" name="correo" class="form-control" required #correo="ngModel">
                 <div class="text-danger mt-1" *ngIf="correo.invalid && correo.touched">
                    <span *ngIf="correo.errors?.['required']">El correo es obligatorio.</span>
                    <span *ngIf="correo.errors?.['email']">Ingrese un correo válido.</span>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña:</label>
                <input type="password" [(ngModel)]="user.contrasena" name="contrasena" class="form-control" required #contrasena="ngModel">
                <div class="text-danger mt-1" *ngIf="contrasena.invalid && contrasena.touched">
                    <span *ngIf="contrasena.errors?.['required']">La contraseña es obligatoria.</span>
                    <span *ngIf="contrasena.errors?.['minlength']">Debe tener al menos 6 caracteres.</span>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Telefono:</label>
                <input type="number" [(ngModel)]="user.telefono" name="telefono" class="form-control" required #telefono="ngModel">
                <div class="text-danger mt-1" *ngIf="telefono.invalid && telefono.touched">
                    El teléfono es obligatorio.
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Direccion:</label>
                <input type="text" [(ngModel)]="user.direccion" name="direccion" class="form-control" required #direccion="ngModel">
                <div class="text-danger mt-1" *ngIf="direccion.invalid && direccion.touched">
                    La dirección es obligatoria.
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button class="btn btn-secondary" (click)="login()">Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrar</button>
            </div>
        </form>
    </div>

</body>