<footer class="mt-auto py-4">
<div class="container">
    <div class="row">
    <!-- Información -->
    <div class="col-md-4 mb-3">
        <h5>Commerce GT</h5>
        <p class="small text-white-50">
        Explora nuestra tienda. Compra con seguridad y confianza.
        </p>
    </div>

    <!-- Enlaces -->
    <div class="col-md-4 mb-3">
        <h5>Opciones</h5>
        <ul class="list-unstyled">
        <li><a href="#" class="text-white text-decoration-none">Productos</a></li>
        <li><a href="#" class="text-white text-decoration-none">Carrito</a></li>
        <li><a href="#" class="text-white text-decoration-none">Historial</a></li>
        <li><a href="#" class="text-white text-decoration-none">Perfil</a></li>
        </ul>
    </div>

    <!-- Redes sociales -->
    <div class="col-md-4 mb-3">
        <h5>Síguenos</h5>
        <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i> Facebook</a><br>
        <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i> Twitter</a><br>
        <a href="#" class="text-white me-3"><i class="bi bi-instagram"></i> Instagram</a>
    </div>
    </div>

    <hr class="bg-white-50">

    <div class="text-center small text-white-50">
    Commerce GT. Todos los derechos reservados.
    </div>
</div>
</footer>